.card{
  border-radius:20px;
  background-color: blue;
  margin:10px;
  color:white;
  padding:10px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.button{
  color:white;
  background-color:green;
  margin:5px;
  padding:5px;
  border-color: transparent;
  border-width: 0px;
  border-radius:5px;
}

button{
  color:white;
  background-color: red;
  border-color: transparent;
  padding:5px;
  margin:5px;
  border-radius:5px;
}